@charset "utf-8";

html {
   height: 100%;
}

.wrap{
   display: flex;
   flex-wrap: wrap;
}

header{
	width: 100%;
}

body{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 5% 0px 5%; /* メニューバー内側の余白(左に15px) */
   background-color: #00cc00; /* バーの背景色(濃い赤色) */
   color: white;
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
   width: 19%;           /* メニュー項目の横幅(125px) */
   min-width: 125px;
   display: inline-block;  /* ★1:横並びに配置する */
   list-style-type: none;  /* ★2:リストの先頭記号を消す */
   position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}

ul.ddmenu p{
   font-size: small;
}

ul.ddmenu a {
   background-color: #00cc00; /* メニュー項目の背景色(濃い赤色) */
   color: white;              /* メニュー項目の文字色(白色) */
   line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
   text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
   font-weight: bold;         /* 太字にする */
   display: block;            /* ★4:項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
   background-color: #ddffdd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
   color: #00dd00;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
   display: none;       /* ★1:標準では非表示にする */
   margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
   position: flex;  /* ★4:絶対配置にする */
}

/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover ul {
   display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {   /* ※A */
   width: 135px;               /* サブメニュー1項目の横幅(135px) */
   border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {   /* ※B */
   line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
   text-align: left;    /* 文字列の配置(左寄せ) */
   padding-left: 5px;   /* 文字列前方の余白(5px) */
   font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {   /* ※C */
   background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.contents{
   margin: 0;
   position: relative;
   min-width: 100%;
}

video{
	width: 100%;
   height: 200px;
}

.flame{
   border: 2px #fd7e00 dashed;
   background: #fdf5e6;
}

.flame2 {
   margin: auto;
   text-align: center;
   background: #feffd0;
   border-top: solid 5px #ffee00;
   border-bottom: solid 5px #ffee00;
}
.flame2 img{
   float: center;
   min-width: 400px;
   max-width: 400px;
   min-height: 400px;
   max-height: 400px;
}

.news{
   width: 50%;
   margin: auto;
   text-align: center;
}

.news .flame{
   background-color: white;
   text-align: center;
   float: center;
}


.contents h2{
   text-align: center;
}

.contents h1{
   text-align: center;
}

.pickup{
   margin: auto;
   width: 100%;
   background-color: #d68454fb;
}

footer{
   background-color: #d63737fb;
   color: #ffffff;
   text-align: center;
   position: sticky;
   top: 100%;
   min-width: 100%;
   max-height: 100px;
}

img{
   width: 100%;
}

.food{
   margin: auto;
   float: left;
   text-align: center;
   
   background-color: #d68454fb;
}

.food img{
   min-width: 400px;
   max-width: 400px;
   min-height: 400px;
   max-height: 400px;
}

.shop{
   float: left;
   text-align: center;
   margin: auto;
}

li img{
   width: 80%;
}

.info {
   margin: auto;
   text-align: center;
}

.info li{
   list-style: none;
   text-align: left;
}

.info img{
   width: 60%;
}

.border{
   text-decoration: underline double black;
}

.menu li{
   list-style: none;
} 

.menu .flame{
   margin: 0 auto;
   text-align: center;
}

.menu .flame img{
   float: center;
   min-width: 400px;
   max-width: 400px;
   min-height: 400px;
   max-height: 400px;
}

h1 {
   font-family: serif, sans-serif
}

h2{
   font-family: serif, sans-serif;
}

h3{
   font-family: serif, sans-serif;
}

body {
   font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}